<main id="how-hork">  
    <section id="header-how-work">
      <div class="main-wrapper">
        <div class="parallax-container">
          <div class="parallax"><img src="../../assets/img/how-work/1.jpg" alt="bck-img"></div>
            <div class="center-text title-wrapp">
              <div class="main-title">
                <span>Como Funciona?</span>
              </div>
              <div class="btn-wrapp row"> 
                  <button class="btn waves-effect waves-light" (click)="goToSearch()">
                      <a href="javascript:void(0);">
                        <img src="../../assets/img/how-work/9.png" alt="icon-car">
                        Alugar um carro
                      </a>
                  </button>
                  <button class="btn waves-effect waves-light" (click)="goToLogin()">
                     <a href="javascript:void(0);">
                        <img src="../../assets/img/how-work/10.png" alt="icon-car">
                        Cadastrar carro
                      </a>
                  </button>
              </div>
            </div>
          </div>

      </div>
      <!--END-MAIN-WRAPPER-->
    </section>
    <!--END-HEADER-HOW-WORK-->

    <section id="how-use">
      <div class="row">
        <article id="onwer" class="col s6">
            <div class="content-wrapper left-side">
              <div class="title-text">
                <h5>Motorista</h5>
                <div class="horizontal-line left-align"></div>
              </div>
              <ul class="step-list">
                  <li>
                    <div class="row">
                      <div class="img-step">
                          <img src="../assets/img/how-work/2.png" alt="user-icon">
                      </div>
                      <div class="text-content col s10">
                         <span class="subtitle-text">Inscreva-se</span>
                          <p>
                              Inscreva com o Facebook, Google ou com seu E-mail.
                              Preencha corretamente todos os dados.
                          </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="img-step">
                          <img src="../assets/img/how-work/3.png" alt="car-icon">
                      </div>
                      <div class="text-content col s10">
                        <span class="subtitle-text">Encontre e reserve</span>
                          <p>
                              Procure e reserve o melhor carro pra você, verificando a disponibilidade
                              e assim como o valor do aluguel.
                          </p>
                      </div>  
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="img-step">
                            <img src="../assets/img/how-work/5.png" alt="clock-icon">
                      </div>
                      <div class="text-content col s10">
                          <span class="subtitle-text">Aguarde a confirmação</span>
                          <p>
                              O compartilhador irá analisar suas informações e 
                              responderá a sua solicitação o mais rápido possível.
                          </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                    <div class="img-step">
                        <img src="../assets/img/how-work/4.png" alt="key-icon">
                    </div>
                    <div class="text-content col s10">
                        <span class="subtitle-text">Receba as chaves</span>
                        <p>
                            Após a aprovação, realize o pagamento e pegue o carro.
                            Dê uma checagem geral no carro, se tiver ok, 
                            aproveite!
                        </p>
                    </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                        <div class="img-step">
                              <img src="../assets/img/how-work/6.png" alt="check=icon">
                        </div>
                        <div class="text-content col s10">
                          <span class="subtitle-text">Devolva e avalie</span>
                          <p>
                              Faça uma nova vistoria no carro junto ao proprietário.
                              Avalie, agradecemos muito sua colaboração.
                          </p>
                        </div>
                    </div>
                  </li>
                </ul>
            </div>
             <!--END-CONTENT-WRAPPER-->
        </article>
        <!--END-ONWER-->

         <div class="divisor-line col s2">
            <i class="street-img"></i>
        </div>

        <article id="conductor" class="col s6">
            <div class="content-wrapper  right-side">
              <div class="title-text center-text">
                <h5>Proprietário</h5>
                <div class="horizontal-line"></div>
              </div>
              <ul class="step-list">
                  <li>
                    <div class="row">
                      <div class="img-step">
                          <img src="../assets/img/how-work/3.png" alt="car-icon">
                      </div>
                      <div class="text-content col s10">
                         <span class="subtitle-text">Cadastre seu carro</span>
                          <p>
                              Descreva seu carro, inclua fotos, localização, 
                              disponibilidade e o preço pelo aluguel.
                          </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="img-step">
                          <img src="../assets/img/how-work/2.png" alt="user-icon">
                      </div>
                      <div class="text-content col s10">
                        <span class="subtitle-text">Receba a solicitação </span>
                          <p>
                              Você receberá notificações de solicitando o aluguel 
                              com informações do motorista interessado. 
                          </p>
                      </div>  
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="img-step">
                            <img src="../assets/img/how-work/8.png" alt="email-icon">
                      </div>
                      <div class="text-content col s10">
                          <span class="subtitle-text">Verifique a solicitação</span>
                          <p>
                              Analise bem o interessado por seu carro e responda
                              a solicitação o mais rápido possível.
                          </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="img-step">
                          <img src="../assets/img/how-work/4.png" alt="key-icon">
                      </div>
                      <div class="text-content col s10">
                          <span class="subtitle-text">Entregue as chaves</span>
                          <p>
                              Entregue o veículo no local combinado,
                              passe algumas dicas do uso do carro e aproveite
                              o seu dinheiro.
                          </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                       <div class="img-step">
                              <img src="../assets/img/how-work/6.png" alt="check-icon">
                        </div>
                        <div class="text-content col s10">
                          <span class="subtitle-text">Receba e avalie</span>
                          <p>
                              Verifique seu carro junto com o condutor.
                              Avalie, agradecemos muito sua colaboração.

                          </p>
                        </div>
                    </div>
                  </li>
                </ul>
            </div>
             <!--END-CONTENT-WRAPPER-->
        </article>
        <!--END-CONDUCTOR-->
      </div>
      <!--end-row-->
    </section>

</main>